@import url('https://imperfectwastaken.github.io/ImperfectsDiscordBadges/user-color.css');


.channel_c91bad:hover .closeButton_c91bad, .channel_c91bad:focus-within .closeButton_c91bad {
  display:none;
}

.interactive_f5eb4b:hover{
  display:flex;
}

.indicatorContainer.type_Chat{
  order: 1;
}

.header_f9f2ca{
    display: flex;
    flex-direction: row-reverse;
}

.nameAndDecorators_ec8679 > div:nth-child(2){
  display: none;
}
/*-----------------------------Me----------------------------------*/




.children_fc4f04:has([src*="301512451453616128"]) .headerText_f9f2ca,
.children_fc4f04:has([src*="301512451453616128"]) .username_f3939d,
.children_fc4f04:has([src*="301512451453616128"]) .titleWrapper_fc4f04 > h1 > div,
.contents_f9f2ca:has([src*="301512451453616128"]) .overflow_a82120,
.contents_f9f2ca:has([src*="301512451453616128"]) .headerText_f9f2ca,
.contents_f9f2ca:has([src*="301512451453616128"]) .username_f3939d,
.contents_f9f2ca:has([src*="301512451453616128"]) .titleWrapper_fc4f04 > h1 > div,
.link_c91bad:has([src*="301512451453616128"]) .overflow_a82120,
.link_c91bad:has([src*="301512451453616128"]) .headerText_f9f2ca,
.link_c91bad:has([src*="301512451453616128"]) .username_f3939d,
.link_c91bad:has([src*="301512451453616128"]) .titleWrapper_fc4f04 > h1 > div,
.userInfo_f3939d:has([src*="301512451453616128"]) .overflow_a82120,
.userInfo_f3939d:has([src*="301512451453616128"]) .headerText_f9f2ca,
.userInfo_f3939d:has([src*="301512451453616128"]) .username_f3939d,
.userInfo_f3939d:has([src*="301512451453616128"]) .titleWrapper_fc4f04 > h1 > div {
  display: inline-flex;
  flex-wrap: wrap;
}



.children_fc4f04:has([src*="301512451453616128"]) .headerText_f9f2ca:after,
.children_fc4f04:has([src*="301512451453616128"]) .username_f3939d:after,
.children_fc4f04:has([src*="301512451453616128"]) .titleWrapper_fc4f04 > h1 > div:after,
.contents_f9f2ca:has([src*="301512451453616128"]) .overflow_a82120:after,
.contents_f9f2ca:has([src*="301512451453616128"]) .headerText_f9f2ca:after,
.contents_f9f2ca:has([src*="301512451453616128"]) .username_f3939d:after,
.contents_f9f2ca:has([src*="301512451453616128"]) .titleWrapper_fc4f04 > h1 > div:after,
.link_c91bad:has([src*="301512451453616128"]) .overflow_a82120:after,
.link_c91bad:has([src*="301512451453616128"]) .headerText_f9f2ca:after,
.link_c91bad:has([src*="301512451453616128"]) .username_f3939d:after,
.link_c91bad:has([src*="301512451453616128"]) .titleWrapper_fc4f04 > h1 > div:after,
.userInfo_f3939d:has([src*="301512451453616128"]) .overflow_a82120:after,
.userInfo_f3939d:has([src*="301512451453616128"]) .headerText_f9f2ca:after,
.userInfo_f3939d:has([src*="301512451453616128"]) .username_f3939d:after,
.userInfo_f3939d:has([src*="301512451453616128"]) .titleWrapper_fc4f04 > h1 > div:after {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  content: "King ♔";
  text-transform: uppercase;
  border: 0px solid rgba(0, 0, 0, 0);
  padding: 0 4px;
  background-image: url(https://t4.ftcdn.net/jpg/05/28/90/43/360_F_528904350_V7GQhhRy5BxXu471ZkMye1fbr8jU0PHP.jpg);
  background-size:cover;
  font-size: 10px;
  font-weight: bold;
  height: 15px;
  border-radius: 4px;
  margin: auto 0 auto 4px;
  text-decoration: none !important;
  filter: drop-shadow(0 0 1px #ffffff);
  color: rgb(0, 0, 0) !important;
  transition: filter .1s ease-in-out;
  text-shadow: 2px 1px 5px #000000,
  -1px -1px 5px #ffffff;
}






/*---------------------------Love----------------------------------*/







.children_fc4f04:has([src*="493105382932086803"]) .headerText_f9f2ca,
.children_fc4f04:has([src*="493105382932086803"]) .username_f3939d,
.children_fc4f04:has([src*="493105382932086803"]) .titleWrapper_fc4f04 > h1 > div,
.contents_f9f2ca:has([src*="493105382932086803"]) .overflow_a82120,
.contents_f9f2ca:has([src*="493105382932086803"]) .headerText_f9f2ca,
.contents_f9f2ca:has([src*="493105382932086803"]) .username_f3939d,
.contents_f9f2ca:has([src*="493105382932086803"]) .titleWrapper_fc4f04 > h1 > div,
.link_c91bad:has([src*="493105382932086803"]) .headerText_f9f2ca,
.link_c91bad:has([src*="493105382932086803"]) .username_f3939d,
.link_c91bad:has([src*="493105382932086803"]) .titleWrapper_fc4f04 > h1 > div,
.link_c91bad:has([src*="493105382932086803"]) .overflow_a82120,
.userInfo_f3939d:has([src*="493105382932086803"]) .overflow_a82120,
.userInfo_f3939d:has([src*="493105382932086803"]) .headerText_f9f2ca,
.userInfo_f3939d:has([src*="493105382932086803"]) .username_f3939d,
.userInfo_f3939d:has([src*="493105382932086803"]) .titleWrapper_fc4f04 > h1 > div {
  display: inline-flex;
  flex-wrap: wrap;
}





.children_fc4f04:has([src*="493105382932086803"]) .headerText_f9f2ca:after,
.children_fc4f04:has([src*="493105382932086803"]) .username_f3939d:after,
.children_fc4f04:has([src*="493105382932086803"]) .titleWrapper_fc4f04 > h1 > div:after,
.contents_f9f2ca:has([src*="493105382932086803"]) .overflow_a82120:after,
.contents_f9f2ca:has([src*="493105382932086803"]) .headerText_f9f2ca:after,
.contents_f9f2ca:has([src*="493105382932086803"]) .username_f3939d:after,
.contents_f9f2ca:has([src*="493105382932086803"]) .titleWrapper_fc4f04 > h1 > div:after,
.link_c91bad:has([src*="493105382932086803"]) .overflow_a82120:after,
.link_c91bad:has([src*="493105382932086803"]) .headerText_f9f2ca:after,
.link_c91bad:has([src*="493105382932086803"]) .username_f3939d:after,
.link_c91bad:has([src*="493105382932086803"]) .titleWrapper_fc4f04 > h1 > div:after,
.userInfo_f3939d:has([src*="493105382932086803"]) .overflow_a82120:after,
.userInfo_f3939d:has([src*="493105382932086803"]) .headerText_f9f2ca:after,
.userInfo_f3939d:has([src*="493105382932086803"]) .username_f3939d:after,
.userInfo_f3939d:has([src*="493105382932086803"]) .titleWrapper_fc4f04 > h1 > div:after {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  content: "Queen ♕";
  text-transform: uppercase;
  border: 1px solid rgba(94, 91, 91, 0);
  padding: 0 4px;
  background-image: url(https://slidescorner.com/wp-content/uploads/2023/02/01-Cute-Pink-Hearts-Valentines-Day-Background-Aesthetic-FREE-by-SlidesCorner.com_.jpg);
  background-size: cover;
  background-color: var(--brand-experiment-50a);
  font-size: 10px;
  font-weight: bold;
  height: 15px;
  border-radius: 4px;
  margin: auto 0 auto 4px;
  text-decoration: none !important;
  filter: drop-shadow(0 0 2px #f8aaff);
  z-index: 1;
  color: rgb(0, 0, 0) !important;
  transition: filter .1s ease-in-out;
}




/*----------------------------LUNA------------------------------*/





.children_fc4f04:has([src*="994717784770613430"]) .overflow_a82120,
.children_fc4f04:has([src*="994717784770613430"]) .headerText_f9f2ca,
.children_fc4f04:has([src*="994717784770613430"]) .username_f3939d,
.children_fc4f04:has([src*="994717784770613430"]) .titleWrapper_fc4f04 > h1 > div,
.contents_f9f2ca:has([src*="994717784770613430"]) .overflow_a82120,
.contents_f9f2ca:has([src*="994717784770613430"]) .headerText_f9f2ca,
.contents_f9f2ca:has([src*="994717784770613430"]) .username_f3939d,
.contents_f9f2ca:has([src*="994717784770613430"]) .titleWrapper_fc4f04 > h1 > div,
.link_c91bad:has([src*="994717784770613430"]) .overflow_a82120,
.link_c91bad:has([src*="994717784770613430"]) .headerText_f9f2ca,
.link_c91bad:has([src*="994717784770613430"]) .username_f3939d,
.link_c91bad:has([src*="994717784770613430"]) .titleWrapper_fc4f04 > h1 > div,
.userInfo_f3939d:has([src*="994717784770613430"]) .overflow_a82120,
.userInfo_f3939d:has([src*="994717784770613430"]) .headerText_f9f2ca,
.userInfo_f3939d:has([src*="994717784770613430"]) .username_f3939d,
.userInfo_f3939d:has([src*="994717784770613430"]) .titleWrapper_fc4f04 > h1 > div {
  display: inline-flex;
  flex-wrap: wrap;
}


.children_fc4f04:has([src*="994717784770613430"]) .overflow_a82120:after,
.children_fc4f04:has([src*="994717784770613430"]) .headerText_f9f2ca:after,
.children_fc4f04:has([src*="994717784770613430"]) .username_f3939d:after,
.children_fc4f04:has([src*="994717784770613430"]) .titleWrapper_fc4f04 > h1 > div:after,
.contents_f9f2ca:has([src*="994717784770613430"]) .overflow_a82120:after,
.contents_f9f2ca:has([src*="994717784770613430"]) .headerText_f9f2ca:after,
.contents_f9f2ca:has([src*="994717784770613430"]) .username_f3939d:after,
.contents_f9f2ca:has([src*="994717784770613430"]) .titleWrapper_fc4f04 > h1 > div:after,
.link_c91bad:has([src*="994717784770613430"]) .overflow_a82120:after,
.link_c91bad:has([src*="994717784770613430"]) .headerText_f9f2ca:after,
.link_c91bad:has([src*="994717784770613430"]) .username_f3939d:after,
.link_c91bad:has([src*="994717784770613430"]) .titleWrapper_fc4f04 > h1 > div:after,
.userInfo_f3939d:has([src*="994717784770613430"]) .overflow_a82120:after,
.userInfo_f3939d:has([src*="994717784770613430"]) .headerText_f9f2ca:after,
.userInfo_f3939d:has([src*="994717784770613430"]) .username_f3939d:after,
.userInfo_f3939d:has([src*="994717784770613430"]) .titleWrapper_fc4f04 > h1 > div:after {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  content: "Akin to the stars";
  text-transform: uppercase;
  border: 1px solid rgb(94, 91, 91);
  padding: 0 4px;
  background-image: url(https://i.gifer.com/TaT4.gif);
  background-size: cover;
  background-color: var(--brand-experiment-50a);
  font-size: 10px;
  height: 15px;
  border-radius: 4px;
  margin: auto 0 auto 4px;
  text-decoration: none !important;
  color: var(--interactive-active);
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}




/*----------------------------Quinn-----------------------------------*/




.children_fc4f04:has([src*="876665886382116864"]) .overflow_a82120,
.children_fc4f04:has([src*="876665886382116864"]) .headerText_f9f2ca,
.children_fc4f04:has([src*="876665886382116864"]) .username_f3939d,
.children_fc4f04:has([src*="876665886382116864"]) .titleWrapper_fc4f04 > h1 > div,
.contents_f9f2ca:has([src*="876665886382116864"]) .overflow_a82120,
.contents_f9f2ca:has([src*="876665886382116864"]) .headerText_f9f2ca,
.contents_f9f2ca:has([src*="876665886382116864"]) .username_f3939d,
.contents_f9f2ca:has([src*="876665886382116864"]) .titleWrapper_fc4f04 > h1 > div,
.link_c91bad:has([src*="876665886382116864"]) .overflow_a82120,
.link_c91bad:has([src*="876665886382116864"]) .headerText_f9f2ca,
.link_c91bad:has([src*="876665886382116864"]) .username_f3939d,
.link_c91bad:has([src*="876665886382116864"]) .titleWrapper_fc4f04 > h1 > div,
.userInfo_f3939d:has([src*="876665886382116864"]) .overflow_a82120,
.userInfo_f3939d:has([src*="876665886382116864"]) .headerText_f9f2ca,
.userInfo_f3939d:has([src*="876665886382116864"]) .username_f3939d,
.userInfo_f3939d:has([src*="876665886382116864"]) .titleWrapper_fc4f04 > h1 > div {
  display: inline-flex;
  flex-wrap: wrap;
}


.children_fc4f04:has([src*="876665886382116864"]) .overflow_a82120:after,
.children_fc4f04:has([src*="876665886382116864"]) .headerText_f9f2ca:after,
.children_fc4f04:has([src*="876665886382116864"]) .username_f3939d:after,
.children_fc4f04:has([src*="876665886382116864"]) .titleWrapper_fc4f04 > h1 > div:after,
.contents_f9f2ca:has([src*="876665886382116864"]) .overflow_a82120:after,
.contents_f9f2ca:has([src*="876665886382116864"]) .headerText_f9f2ca:after,
.contents_f9f2ca:has([src*="876665886382116864"]) .username_f3939d:after,
.contents_f9f2ca:has([src*="876665886382116864"]) .titleWrapper_fc4f04 > h1 > div:after,
.link_c91bad:has([src*="876665886382116864"]) .overflow_a82120:after,
.link_c91bad:has([src*="876665886382116864"]) .headerText_f9f2ca:after,
.link_c91bad:has([src*="876665886382116864"]) .username_f3939d:after,
.link_c91bad:has([src*="876665886382116864"]) .titleWrapper_fc4f04 > h1 > div:after,
.userInfo_f3939d:has([src*="876665886382116864"]) .overflow_a82120:after,
.userInfo_f3939d:has([src*="876665886382116864"]) .headerText_f9f2ca:after,
.userInfo_f3939d:has([src*="876665886382116864"]) .username_f3939d:after,
.userInfo_f3939d:has([src*="876665886382116864"]) .titleWrapper_fc4f04 > h1 > div:after {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  content: "Trashcan";
  text-transform: uppercase;
  border: 1px solid rgb(0, 0, 0);
  padding: 0 4px;
  background-image: url(https://www.adobe.com/content/dam/cc/us/en/creativecloud/design/discover/color-chartreuse/color-chartreuse_fb-img_1200x800.jpg);
  background-size: cover;
  background-color: var(--brand-experiment-50a);
  font-size: 10px;
  height: 15px;
  font-weight: bolder;
  border-radius: 4px;
  margin: auto 0 auto 4px;
  text-decoration: none !important;
  color: black;
}


