/* ------------Fixes------------ */

.betaBadge-1Ve-yb {display: none;}

.avatar-AvHqJA, .profileBanner-33-uE1, .banner-2QYc2d {background-color: transparent !important;}

.popoutBanner-19WKGg {display: none;}

.headerText-1vVs-U {
  text-align: center;
}

.headerTop-3vNv-a {
  padding: 106px 16px 12px;
  display: block;
}

.profileBadges-3cJaE1 {
  position: fixed;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  top: 10px;
}

.header-4zuFdR {
  position: absolute;
  display: block;
  top: 75px;
  padding: 16px 16px 0 160px;
  left: 0px;
}

.profileBadges-ohc0Vu {
  position: fixed;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  top: 10px;
}

.profileBadgePremium-1KDZYC {
  margin: 0px -4px -4px;
  left: -10px;
}

.avatarPositionPremium-3We5Ho {
  top: 130px;
  left: 100px;
}

.headerTop-547GTz{
  padding: 7px 1px 0px;
  position: fixed;
  top: 10px !important;
}

.actionButton-3vN-m0{
  justify-content: flex-end;
}

.avatar-AvHqJA {border: none;}

/* ------------User Popout------------ */

.userPopout-xaxa6l::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none !important;
	opacity: .5 !important;
	background-size: cover !important;
	background-repeat: no-repeat!important;
	background-position: var(--users-popout-position) center/cover !important;
	background-image: var(--users-popout) !important;
	-webkit-mask-image: linear-gradient(transparent, black 90%) top left fixed;
}

.userPopout-xaxa6l .header-2BwW8b,
.userPopout-xaxa6l .scroller-2FKFPG,
.userPopout-xaxa6l .footer-1N3bR3,
.flex-1O1GKY,
.bodyInnerWrapper-Z8WDxe,
.headerText-2sdzFM,
.date-YN6TCS+.customStatus-1bh2V9 {
	z-index: 1 !important;
}

.userPopout-xaxa6l {
	transform: translateZ(0);
}

.userPopout-xaxa6l {
	--users-popout-position: center;
}
.headerTop-2cWpdB,
.bodyInnerWrapper-26fQXj,
.footer-3UKYOU,
.userPopout-xaxa6l .headerTop-3vNv-a,
#app-mount .headerNormal-T_seeN,
#app-mount .footer-1N3bR3,
#app-mount .headerPlaying-j0WQBV,
#app-mount .headerXbox-3G-4PF,
#app-mount .headerSpotify-zpWxgT,
#app-mount .headerStreaming-2FjmGz,
#app-mount .body-3HBlXn {
	background: transparent !important;
}

#app-mount .userPopout-xaxa6l .headerPlaying-j0WQBV,
#app-mount .root-SR8cQa .topSection-y3p-_D,
.userPopout-xaxa6l::before {
  background: none !important;
}


.input-cIJ7To, .input-2_SIlA, .headerNormal-1mX3KY, .headerTop-2y3V6H, avatar-22FtUu wrapper-3t9DeA {
  background: transparent;
}

.avatar-37jOim {
    background: transparent;
    border-color: transparent;
}

.userPopout-xaxa6l .footer-1N3bR3, .userPopout-xaxa6l .body-r6_QPy, .userPopout-xaxa6l .headerTop-2y3V6H, .userPopout-xaxa6l .profileBanner-33-uE1 {
     background-color: rgba(0, 0, 0, 0) !important;
 }

 .avatarWrapperNormal-2tu8Ts, .avatarPositionNormal-aZjAsn  {
  left: 35%;
}

.headerText-15Q25Z {
  display: block;
  text-align: center;
}

.headerTagNoNickname-3ak9o8.headerTag-nSOkYt.size14-3iUx6q.size20-2QkeeC {
    text-align: center;
    display: block;
    line-height: unset;
    overflow: hidden;
}

.bannerOverlay-1uIerX, .pencilIcon-XSi-VE:hover {
    display: none;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: #67676754;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: #b6b6b654
}

/* ------------User Profile Background------------ */

#app-mount .header-4zuFdR .wrapper-3t9DeA::before {
	content: '';
	position: absolute;
	top: -39px;
	left: -20px;
	width: 602px;
	height: 300px;
	pointer-events: none;
	background: var(--users-background) center/cover no-repeat !important;
	-webkit-mask: linear-gradient(black, transparent 80%) !important;
	display: block !important;
}

#app-mount .userPopout-xaxa6l .headerPlaying-j0WQBV,
#app-mount .root-SR8cQa .topSectionPlaying-1J5E4n,
.headerNormal-T_seeN,
.topSection-y3p-_D,
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n,
.body-r6_QPy {
	background-color: rgb(0, 0, 0) !important;
}

.body-r6_QPy,
.theme-dark .body-r6_QPy {
	background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) !important;
}

.headerNormal-T_seeN, 
.root-SR8cQa, 
.userPopout-xaxa6l {
	background-color: black !important;
}

#app-mount.header-4zuFdR .wrapper-3t9DeA::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	pointer-events: none;
	-webkit-mask: linear-gradient(black, transparent 40%) !important;
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
	z-index: 1;
	position: relative;
}

.activity-11LB_k, .headerFill-adLl4x {
  background: transparent !important;
}

#app-mount .messagesPopoutWrap-1MQ1bW .avatar-1BDn8e+h2::after {
	display: none !important;
}

.headerFill-adLl4x,
.textarea-2r0oV8:focus {
	background-color: transparent !important;
}

.topSection-y3p-_D .tabBarContainer-1s1u-z {
    border-top-color: #00000000;
}

.tabBarContainer-1s1u-z {
    border-top: 1px solid hsla(0, 0%, 100%, 0);
    padding-left: 20px;
}

.input-cIJ7To {
  box-shadow: transparent !important;
}

.theme-dark .activityProfile-2bJRaP .content-3JfFJh,
.theme-dark .activityProfile-2bJRaP .details-38sfDr,
.theme-dark .activityProfile-2bJRaP .headerText-1HLrL7,
.theme-dark .activityProfile-2bJRaP .name-29ETJS,
.theme-dark .activityUserPopout-2yItg2 .content-3JfFJh,
.theme-dark .activityUserPopout-2yItg2 .details-38sfDr,
.theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7,
.theme-dark .activityUserPopout-2yItg2 .name-29ETJS,
.activityHeader-1PExlk,
.customStatusText-39gdCI,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O),
.colorDefault-2K3EoJ.focused-3afm-j,
.nameNormal-2lqVQK,
.text-AOoUen,
.nameWrap-3Z4G_9,
.activityName-1IaRLn {
	color: white !important;
}

.headerInfo-1Y1Vge {
    position: relative;
    z-index: 1;
}


/* Mine */

[user_by_bdfdb="301512451453616128"],
[data-user-id="301512451453616128"] {
	--users-background: url('https://i.imgur.com/jmX3A40.gif') !important;
  --users-popout: url('https://cdn.discordapp.com/attachments/745873644378390558/874350445827620894/9730b15ce1775927ae3e4c88d3bc147e.png') !important;
}

/* Smiley The Stickman */

[user_by_bdfdb="537796154092552194"],
[data-user-id="537796154092552194"] {
	--users-background: url('https://cdn.discordapp.com/attachments/767441206682058782/837824598568337508/unknown.png') !important;
  --users-popout: url('https://cdn.discordapp.com/attachments/767441206682058782/837824598568337508/unknown.png') !important;
}

/* itsgrimboi */

[user_by_bdfdb="225739607847731200"],
[data-user-id="225739607847731200"] {
	--users-background: url('https://i.imgur.com/IzUqxMr.gif') !important;
  --users-popout: url('https://i.imgur.com/IzUqxMr.gif') !important;
}

/* Meme-Man */

[user_by_bdfdb="540982793111470080"],
[data-user-id="540982793111470080"] {
	--users-background: url('https://cdn.discordapp.com/attachments/796809866273357824/829817857285160980/unknown.png') !important;
  --users-popout: url('https://cdn.discordapp.com/attachments/796809866273357824/829817857285160980/unknown.png') !important;
}

/* Element 118 */

[user_by_bdfdb="484174581909684224"],
[data-user-id="484174581909684224"] {
	--users-background: url('https://cdn.discordapp.com/attachments/767441206682058782/830117226098720818/unknown.png') !important;
  --users-popout: url('https://cdn.discordapp.com/attachments/767441206682058782/851982620560064512/MOSHED-2021-5-27-21-59-6.png') !important;
}

/* HeadHunterJoe */

[user_by_bdfdb="454085950952308738"],
[data-user-id="454085950952308738"] {
	--users-background: url('https://i.natgeofe.com/n/73c00c4f-a746-4d0b-a006-ea5c5097d265/01-rat-friends-nationalgeographic_1162144.jpg?w=636&h=424') !important;
  --users-popout: url('https://cdn.mos.cms.futurecdn.net/7GCPeSkqz3duhcXkg7E6H7-1200-80.jpg') !important;
}

/* Omyko */

[user_by_bdfdb="607906558948671518"],
[data-user-id="607906558948671518"] {
	--users-background: url('https://cdn.discordapp.com/attachments/833750340280385598/840234488407916554/25f25de7f2f40817456dcd1b5a2e8a08.gif') !important;
  --users-popout: url('https://cdn.discordapp.com/attachments/833750340280385598/834460362878353439/preview.jpg') !important;
}

/* My Bot */

[user_by_bdfdb="621682248495923241"],
[data-user-id="621682248495923241"] {
	--users-background: url('https://media4.giphy.com/media/3ohzdRbspPb7kWc7kc/giphy.gif?cid=ecf05e47zpd7nrudmajd7g1dnkb0zz4zrlv7nvzll5adbn0n&rid=giphy.gif&ct=g') !important;
  --users-popout: url('https://media0.giphy.com/media/lzY64ar4NAulaZR8L0/giphy.gif?cid=ecf05e47aldvnj9lhp93qa4t0nwl8g4pmy6vjj8i0aijqkiu&rid=giphy.gif&ct=g') !important;
}

/* Solange Clown */

[user_by_bdfdb="674079360025886751"],
[data-user-id="674079360025886751"] {
	--users-background: url('https://c8.alamy.com/comp/JWF3RE/dumpsters-being-full-with-garbage-container-over-flowing-JWF3RE.jpg') !important;
  --users-popout: url('https://cdn.discordapp.com/attachments/801547090169561140/880684435719225354/unknown.png') !important;
}
