/* ------------User Profile Border/Glows------------ */

#app-mount .avatar-1BDn8e + h2 {
  overflow: visible;
}

/* Mine */

.contents-2mQqc9 .avatar-1BDn8e[src*="301512451453616128"] + h2::before{
  content: '';
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0px;
  left: -59px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="301512451453616128"] + h2::before {
  height: 66px;
  width: 66px;
  left: -69px;
  top: -10px;
  z-index: -1;
  background-image: url('https://i.imgur.com/zQCMl2d.png');
}


.contents-2mQqc9 .avatar-1BDn8e[src*="301512451453616128"] {
  animation: oooh 1s, ease-in-out infinite;
  filter: drop-shadow(0 0 10px #a989ff);
  transition: filter 200ms ease-in-out;
}

.avatar-1BDn8e[src*="301512451453616128"] + h2::after {
  background-image: url(https://i.imgur.com/lfcy3Kd.png);
  bottom: -22px;
  left: -26px;
  transform: scale(1.3);
}

.contents-2mQqc9 .avatar-1BDn8e[src*="301512451453616128"]:hover {
  animation-play-state: paused;
  box-shadow: brightness(80%);
}

@keyframes oooh {
  to {
    filter: drop-shadow(0 0 8px rgb(255, 255, 255));
  }
}


