/* Colored Text For Specific Users */


/* Mine */


.repliedMessage_e2bf4a:has([src*="301512451453616128"]) .username_d30d99,
.member_aa4760:has([src*="301512451453616128"]) .username_d272d6,
.contents_f41bb2:has([src*="301512451453616128"]) .username_d30d99,
.link__2e8e1:has([src*="301512451453616128"]) .overflow__87fe8,
.children__32014:has([src*="301512451453616128"]) .titleWrapper__482dc > h1 > div {
    color: rgb(255, 255, 255) !important;
    transition: filter .1s ease-in-out;
    text-shadow: 
    1px 1px 4px #a989ff,
    -1px -1px 4px #47b5ff,
    1px -1px 4px #a989ff,
    -1px 1px 4px #ffae34;
}


.repliedMessage_e2bf4a:has([src*="301512451453616128"]) .username_d30d99:hover,
.member_aa4760:has([src*="301512451453616128"]) .username_d272d6:hover,
.contents_f41bb2:has([src*="301512451453616128"]) .username_d30d99:hover,
.link__2e8e1:has([src*="301512451453616128"]) .overflow__87fe8:hover,
.children__32014:has([src*="301512451453616128"]) .titleWrapper__482dc:hover > h1 > div {
    filter: drop-shadow(0 0 2px #e693ff);
}


/* Love */



.repliedMessage_e2bf4a:has([src*="493105382932086803"]) .username_d30d99,
.member_aa4760:has([src*="493105382932086803"]) .username_d272d6,
.contents_f41bb2:has([src*="493105382932086803"]) .username_d30d99,
.link__2e8e1:has([src*="493105382932086803"]) .overflow__87fe8,
.children__32014:has([src*="493105382932086803"]) .titleWrapper__482dc > h1 > div {
    color: rgb(255, 255, 255) !important;
    transition: filter .1s ease-in-out;
    text-shadow: 2px 1px 5px #fd89e0,
    -1px -1px 5px #fdc2ff;
}


.repliedMessage_e2bf4a:has([src*="493105382932086803"]) .username_d30d99:hover,
.member_aa4760:has([src*="493105382932086803"]) .username_d272d6:hover,
.contents_f41bb2:has([src*="493105382932086803"]) .username_d30d99:hover,
.link__2e8e1:has([src*="493105382932086803"]) .overflow__87fe8:hover,
.children__32014:has([src*="493105382932086803"]) .titleWrapper__482dc:hover > h1 > div {
    filter: drop-shadow(0 0 1px #d5aafd);
}
 
