/* Colored Text For Specific Users */


/* Mine */


.repliedMessage_f9f2ca:has([src*="301512451453616128"]) .username_f9f2ca,
.member_a31c43:has([src*="301512451453616128"]) .username_d272d6,
.contents_f9f2ca:has([src*="301512451453616128"]) .username_f9f2ca,
.link_c91bad:has([src*="301512451453616128"]) .overflow_a82120,
.children_fc4f04:has([src*="301512451453616128"]) .titleWrapper_fc4f04 > h1 > div {
    color: rgb(255, 255, 255) !important;
    transition: filter .1s ease-in-out;
    text-shadow: 
    1px 1px 4px #a989ff,
    -1px -1px 4px #47b5ff,
    1px -1px 4px #a989ff,
    -1px 1px 4px #ffae34;
}


.repliedMessage_f9f2ca:has([src*="301512451453616128"]) .username_f9f2ca:hover,
.member_a31c43:has([src*="301512451453616128"]) .username_d272d6:hover,
.contents_f9f2ca:has([src*="301512451453616128"]) .username_f9f2ca:hover,
.link_c91bad:has([src*="301512451453616128"]) .overflow_a82120:hover,
.children_fc4f04:has([src*="301512451453616128"]) .titleWrapper_fc4f04:hover > h1 > div {
    filter: drop-shadow(0 0 2px #e693ff);
}


/* Love */



.repliedMessage_f9f2ca:has([src*="493105382932086803"]) .username_f9f2ca,
.member_a31c43:has([src*="493105382932086803"]) .username_d272d6,
.contents_f9f2ca:has([src*="493105382932086803"]) .username_f9f2ca,
.link_c91bad:has([src*="493105382932086803"]) .overflow_a82120,
.children_fc4f04:has([src*="493105382932086803"]) .titleWrapper_fc4f04 > h1 > div {
    color: rgb(255, 255, 255) !important;
    transition: filter .1s ease-in-out;
    text-shadow: 2px 1px 5px #fd89e0,
    -1px -1px 5px #fdc2ff;
}


.repliedMessage_f9f2ca:has([src*="493105382932086803"]) .username_f9f2ca:hover,
.member_a31c43:has([src*="493105382932086803"]) .username_d272d6:hover,
.contents_f9f2ca:has([src*="493105382932086803"]) .username_f9f2ca:hover,
.link_c91bad:has([src*="493105382932086803"]) .overflow_a82120:hover,
.children_fc4f04:has([src*="493105382932086803"]) .titleWrapper_fc4f04:hover > h1 > div {
    filter: drop-shadow(0 0 1px #d5aafd);
}
 
