/* ------------User Profile Border/Glows------------ */

#app-mount .avatar-1BDn8e + h2 {
  overflow: visible;
}

/* Mine */

.contents-2mQqc9 .avatar-1BDn8e[src*="301512451453616128"] + h2::before{
  content: '';
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0px;
  left: -59px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="301512451453616128"] {
  filter: drop-shadow(0 0 10px #ff7300);
  transition: filter 200ms ease-in-out;
}

/* Element 118 - Josh */
.contents-2mQqc9 .avatar-1BDn8e[src*="484174581909684224"] + h2::before{
  content: '';
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0px;
  left: -59px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}

/* ------------Keyframes------------ */

@keyframes oooh {
  to {
    filter: drop-shadow(0 0 8px rgb(255, 255, 255));
  }
}
